<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<location path="."  inheritInChildApplications="false">
    <system.web>
    </system.web>

<system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
                <add value="default.html" />
                <add value="default.asp" />
                <add value="index.asp" />
                <add value="default.aspx" />
                <add value="default.htm" />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="home.htm" />
                <add value="index.php" />
                <add value="index.pl" />
                <add value="index.py" />
                <add value="default.php" />
                <add value="default.pl" />
                <add value="default.py" />
                <add value="index.cfm" />
                <add value="default.cfm" />
                <add value="home.cfm" />
            </files>
        </defaultDocument>
        <modules runAllManagedModulesForAllRequests="true" />
        <rewrite>
            <rules>
              <rule name="Rewrite to testing Folder"
                    stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}"
                       pattern="^testing.acceptabletone.com$" />
                </conditions>
                <action type="Rewrite"
                        url="_FolderForTestingSomething/{R:1}" />
              </rule>
              <rule name="Rewrite to FIND SHLUBBY"
                    stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}"
                       pattern="^findshlubby.com$" />
                </conditions>
                <action type="Rewrite"
                        url="findshlubby/{R:1}" />
              </rule>
              <rule name="Rewrite to FIND SHLUBBY WWW"
                      stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}"
                             pattern="^www.findshlubby.com$" />
                    </conditions>
                    <action type="Rewrite"
                            url="findshlubby/{R:1}" />
                </rule>
                <rule name="Rewrite to SMOKE"
                      stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}"
                             pattern="^smoke.acceptabletone.com$" />
                    </conditions>
                    <action type="Rewrite"
                            url="smoke/{R:1}" />
                </rule>
              <rule name="Rewrite to DRINKS website"
                    stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}"
                       pattern="^drink.acceptabletone.com$" />
                </conditions>
                <action type="Rewrite"
                        url="drink/{R:1}" />
              </rule>
              <rule name="Rewrite to LICKS website"
                    stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}"
                       pattern="^licks.acceptabletone.com$" />
                </conditions>
                <action type="Rewrite"
                        url="licks/{R:1}" />
              </rule>
              
              <rule name="Rewrite to Guestlogix Take Home"
                    stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}"
                       pattern="^glth.acceptabletone.com$" />
                </conditions>
                <action type="Rewrite"
                        url="GLTH/{R:1}" />
              </rule>
              <rule name="Rewrite to MLTH"
                    stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}"
                       pattern="^mlth.acceptabletone.com$" />
                </conditions>
                <action type="Rewrite"
                        url="MLTH/{R:1}" />
              </rule>
			  <rule name="Rewrite to CBC"
                    stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}"
                       pattern="^cbcth.acceptabletone.com$" />
                </conditions>
                <action type="Rewrite"
                        url="CBCTH/{R:1}" />
              </rule>

              <rule name="Rewrite to DRINKS api"
                    stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}"
                       pattern="^drinksapi.acceptabletone.com$" />
                </conditions>
                <action type="Rewrite"
                        url="apidrink/{R:1}" />
              </rule>
              <rule name="Rewrite to IMAGES"
                      stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}"
                             pattern="^images.acceptabletone.com$" />
                    </conditions>
                    <action type="Rewrite"
                            url="images.acceptabletone/{R:1}" />
                </rule>
                <rule name="Rewrite to LESTER"
                      stopProcessing="true">
                  <match url="(.*)" />
                  <conditions>
                    <add input="{HTTP_HOST}"
                         pattern="^lester.acceptabletone.com$" />
                  </conditions>
                  <action type="Rewrite"
                          url="lester/{R:1}" />
                </rule>
                <rule name="Rewrite to NETFLIX"
                      stopProcessing="true">
                  <match url="(.*)" />
                  <conditions>
                    <add input="{HTTP_HOST}"
                         pattern="^netflix.acceptabletone.com$" />
                  </conditions>
                  <action type="Rewrite"
                          url="netflix/{R:1}" />
                </rule>
                <rule name="Rewrite to ONE DAY DONE"
                      stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}"
                             pattern="^onedaydone.acceptabletone.com$" />
                    </conditions>
                    <action type="Rewrite"
                            url="onedaydone/{R:1}" />
                </rule>
                <rule name="Rewrite to davidmckinnon WWW"
                      stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}"
                             pattern="^www.davidmckinnon.ca$" />
                    </conditions>
                    <action type="Rewrite"
                            url="davidmckinnon/{R:1}" />
                </rule>
              <rule name="Rewrite to datadavidmckinnon"
                    stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}"
                       pattern="^data.davidmckinnon.ca$" />
                </conditions>
                <action type="Rewrite"
                        url="datadavidmckinnon/{R:1}" />
              </rule>
              <rule name="Rewrite to musicdavidmckinnon"
                    stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}"
                       pattern="^music.davidmckinnon.ca$" />
                </conditions>
                <action type="Rewrite"
                        url="musicdavidmckinnon/{R:1}" />
              </rule>
              <rule name="Rewrite to wd api"
                     stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}"
                       pattern="^wdapi.acceptabletone.com$" />
                </conditions>
                <action type="Rewrite"
                        url="apiwalkdoggin/{R:1}" />
              </rule>
              <!--<rule name="Rewrite to wdapidavidmckinnon"
                     stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                  <add input="{HTTP_HOST}"
                       pattern="^wdapi.davidmckinnon.ca$" />
                </conditions>
                <action type="Rewrite"
                        url="apiwalkdoggin/{R:1}" />
              </rule>-->
              <rule name="Rewrite to davidmckinnon"
                      stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}"
                             pattern="^davidmckinnon.ca$" />
                    </conditions>
                    <action type="Rewrite"
                            url="davidmckinnon/{R:1}" />
                </rule>
                <rule name="Rewrite to ACCEPTABLETONE WWW"
                      stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}"
                             pattern="^www.acceptabletone.com$" />
                    </conditions>
                    <action type="Rewrite"
                            url="acceptabletone/{R:1}" />
                </rule>
                <rule name="Rewrite to ACCEPTABLETONE"
                      stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}"
                             pattern="^acceptabletone.com$" />
                    </conditions>
                    <action type="Rewrite"
                            url="acceptabletone/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</location>
</configuration>
